---
title: Anika
description: Anika Circle
image: https://raw.githubusercontent.com/anikacircle/anikacircle.github.io/main/.images/anika-home-bg.jpg
bottom_image: https://raw.githubusercontent.com/anikacircle/anikacircle.github.io/main/.images/anika-bottom-bg.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Anika Circle</h1>
			<p class="subtext editable">Tа Япон соёл, анимэ, мангад сонирхон судалдаг бол Anika Circle-д нэгдэн сонирхол нэгт гишүүдтэй санаа бодлоо хуваалцан цагийг зугаатай ѳнгѳрүүлээрэй</p>
			<div class="cta button alt"><a href="#">Нэгдэх</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Дэлгэрэнгүй <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Ѳѳрийгѳѳ нээ, Бусадтай нэгд</h2>
				<p class="editable">Япон соёлд дуртай юу? Анимэ, манга, Дуу хѳгжим, Японы соёлыг судалдаг гишүүдтэй нэгдээрэй</p>
			</div>
			<div class="image">
				<img class="editable" src="https://2.bp.blogspot.com/-j4ihH-bmdjw/WmdnCOqUONI/AAAAAAAADAg/ea2WUHw6OoAujhxhvUGNfTXR4tJgAeiqgCLcBGAs/s1600/1.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Сонирхдог зүйлээ бусадтай хуваалцан гэдэг сайхан</h2>
				<p class="editable">Япон соёл, анимэ, мангаг сонирхож эхэлж байгаа бол та зѳв газраа оллоо</p>
			</div>
			<div class="image">
				<img class="editable" src="https://1.bp.blogspot.com/-LNPSe0hb5Tg/WmdnCWAmssI/AAAAAAAADAo/rmfblN5clCgeCi_jRp_-rM4Dn6Sw8KxtwCLcBGAs/s1600/2.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Япон хэлний мэдлэгээ сайжруулаарай</h2>
				<p class="editable">Япон хэл анхлан суралцагч болон дунд төвшний суралцагч нарт зѳвѳлгѳѳ ѳгѳн, туслахад бэлэн билээ.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://3.bp.blogspot.com/-tjXjZ2T1jcI/WmdnCKwN5FI/AAAAAAAADAk/ZmkUo-_CJCI46Q5rLBkoL2Hr8T1hG_hYwCLcBGAs/s1600/3.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Аникатай нэгдэх</h2>
				<p class="subtext editable">Шинэ найз нѳхѳд, Япон соёлтой танилцахад таатай боломж!</p>
				<div class="cta button alt"><a href="https://goo.gl/forms/OKjN64taYuprMpCs1">Нэгдэх</a></div>
			</div>
		</div>
	</section>
</div>
