---
layout: default
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>{{ page.name }}</h1>
			<p class="subtext">{{ page.bio }}</p>
			{%- assign author_posts = site.posts | where: "author_filter", page.name -%}
			{%- for post in author_posts -%}
			<ul class="blog-posts">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</ul>
			{%- endfor -%}
		</div>
	</div>
</section>